body{
    font-family: 'Poppins';
    overflow-x: hidden;
    background: #000000;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    max-width: 1440px;
    margin: 0 auto;
}

.header .logo{
    width: 65px;
}

.header .menu{
    display: flex;
    align-items: center;
    height: 100%;
}

.header nav li a{
    font-family: bold;
    color: #FFFFFF;
    font-size: 25px;
    padding: 10px 20px;
    border-radius: 50px;
    transition: 0.2s;
}

.header nav li a:hover{
    background-color:#d2691e;
}

.background-video{
    background-color: #262b35;
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.background-video .video{
    height: 100vh;
}

.background-video::after{
    
}
